<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Scripts/jquery-mobile/jquery.mobile-1.4.5.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/datepicker/jquery.mobile.datepicker.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.2/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-appendgrid/jquery-pearl-sale-table-1.5.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-mobile/jquery.mobile-1.4.5.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-validation-1.13.1/dist/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/datepicker/external/jquery-ui/datepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/datepicker/jquery.mobile.datepicker.js")" type="text/javascript"></script>
</head>
<body>
    
            @RenderBody()
     
 
</body>
</html>
